* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
}

body,
html {
  background-image: url(https://file.uizhw.com/czsj/works/pic/19fce062-5187-41cb-a825-06764fce0ff0.jpg);
  min-height: 100vh;
  height: 100%;
  background-color: #40d2ff;
}

img {
  max-width: 200%;
}